@model Flex.Models.Userprofile

@{
    ViewData["Title"] = "StudentDetails";
}

<h1>Details</h1>

<div>
    <h4>Userprofile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @*        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.loginID)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.loginID)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.s_rollNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.s_rollNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.s_section)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.s_section)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.s_degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.s_degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.s_batch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.s_batch)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @if (Model.DOB.HasValue)
            {
                @Model.DOB.Value.ToString("MM-dd-yyyy")
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cnic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cnic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a> |*@

    <input type='button' value='Home' id='HomeButton' onClick='redirectOnClick()' />
    <script>
        function redirectOnClick() {
            document.location = '/Home/Student';
        } s
    </script>

    <input type='button' value='Edit' id='EditButton' onClick='redirectOnClick1()' />
    <script>
        function redirectOnClick1() {
            document.location = '/Userprofiles/StudentEdit';
        }
    </script>
</div>